<h1>Listing nouns</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @nouns.each do |noun| %>
  <tr>
    <td><%=h noun.name %></td>
    <td><%= link_to 'Show', noun %></td>
  <% if permitted_to? :edit, noun %>
    <td><%= link_to 'Edit', edit_noun_path(noun) %></td>
  <% end %>
  <% if permitted_to? :destroy, noun %>
    <td><%= link_to 'Destroy', noun, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @nouns %>
<br />

<% if permitted_to? :create, Noun.new %>
  <%= link_to 'New noun', new_noun_path %>
<% end %>