<h1>Editing word</h1>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>
  <% st = f.speech_type %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    Type of Speech:<br />
    
    <%= st. :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @word %> |
<%= link_to 'Back', words_path %>